/* index.css */
.ant-table-thead > tr > th {
    background-color: #EEEEEE !important;
    color: black !important;
    text-align: center;
    padding-right: 56px !important; /* Giảm khoảng cách bên phải của tiêu đề cột */
    padding-left: 60px !important;  /* Giảm khoảng cách bên trái của tiêu đề cột */
}

/* Điều chỉnh khoảng cách giữa tiêu đề và nút lọc */
.ant-table-thead > tr > th .ant-table-filter {
    margin-left: 4px !important; /* Giảm khoảng cách giữa tiêu đề và nút lọc */
}

/* Điều chỉnh vị trí của nút lọc trong tiêu đề */
.ant-table-filter-trigger {
    margin-right: 20px !important; /* Giảm khoảng cách giữa nút lọc và tiêu đề */
    /* Loại bỏ padding mặc định */
}
