
.truncate-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;
 
}

<<<<<<< HEAD
=======

>>>>>>> 58895ab445c2a69bbb77e791068e205d65ecc367
